# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

# Logs
*.log

# Chrome Extension Build
*.zip
*.crx
*.pem

# Python
__pycache__/
*.pyc
*.pyo

# Build Output
releases/

# Misc
*.bak
*.tmp